PORT=8080
# COOKIE_DOMAIN=https://0bhishek.com

COOKIE_SECRET=bdmhngjhgsdfsd
APP_SECRET_KEY=generate-a-strong-random-key-here

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8000/api/v1/auth/github/callback
GITHUB_APP_NAME=lonch-app
GITHUB_APP_ID=
GITHUB_HOMEPAGE_URL=http://localhost:8000


GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
PUTyours
-----END RSA PRIVATE KEY-----
"

# change them if using external services

DATABASE_URL=postgresql://postgres:password@localhost:5433/dropdesk
REDIS_URL=redis://localhost:6380



AWS_S3_REGION=eu-south-1

# these two are iam user with full access of s3 and ecr, ecs.
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=+dYXRNt218D+it/CQdz
AWS_S3_BUCKET_NAME=""
AWS_S3_BASE_URL=""

AWS_ECR_REPOSITORY_URI=

# AWS_WEBHOOK_SECRET=dummy-key
AWS_WEBHOOK_SECRET=anything


AWS_VPC_ID=


AWS_ECS_SUBNETS=subnet-jj

AWS_ALB_LISTENER_ARN=
AWS_ECS_SECURITY_GROUPS=sg-

AWS_ECS_EXECUTION_ROLE_ARN=