PORT=8000
COOKIE_DOMAIN=https://getbookie.fun 
# dont use my this domain tho

# hit bun generate-string 
COOKIE_SECRET=yourchoiceyoursecretcookienotocommon

GITHUB_CLIENT_ID=Abhisheksclientid
GITHUB_CLIENT_SECRET=asjkdhfkajshdfkajhsdf
GITHUB_CALLBACK_URL=http://localhost:8080/api/v1/auth/github/callback
GITHUB_APP_NAME=lonch-app
GITHUB_APP_ID=40696969   
GITHUB_HOMEPAGE_URL=http://localhost:8080

DATABASE_URL=postgresql://postgres:password@localhost:5435/lonch
REDIS_URL=redis://localhost:6380