http://api.lonch.cloud {
    reverse_proxy app:8080 {
        header_up X-Forwarded-Proto https
    }
}

http://*.lonch.cloud {
    reverse_proxy app:8080 {
        header_up X-Forwarded-Proto https
    }
}
